@{
    ViewBag.Title = "Accessibility";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_auDeckLayout.cshtml";
}

<style>
    .brdr-terms {
        border: 1px solid #000;
        border-radius:15px;
        background-color: #f2f2f2;
        padding: 15px;
    }
</style>

<div class="blog-area pt-100 pb-100">
    <div class="container">
        <header class="pb-3">
            <h1><strong>Accessibility</strong></h1>
            <small>"Last updated: May 8, 2023"</small>
        </header>

        <main class="pt-3 brdr-terms">
            <p>CarBOXE is committed to making the information on its website accessible to all, including individuals with disabilities, and to ensuring its website complies with Title III of the Americans with Disabilities Act by using World Wide Web Consortium's (W3C) Web Content Accessibility Guidelines (WCAG) 2.1 Level AA Success Criteria. Please keep in mind that our efforts are ongoing, therefore, there may be certain areas of our website that achieve increased accessibility at a rate different than others for a period of time.</p>
            <p>If you would like to report any concern or difficulty accessing the information on our website, or request access to content that is currently unavailable to you, please contact us at <a href="mailto:866-227-3852">866-227-3852</a> or email us at <a href="mailto:info@carBOXE.com">info@carBOXE.com</a> and we will work with you to provide the information, item, or transaction you seek through a communication method or that is accessible for you consistent with applicable law.</p>
        </main>

    </div>
</div>


        